@import "globals.css";

form {
  max-width: 800px;
  background-color: white;
  margin: 20px auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.formGroup {
  margin: 10px 0px;
}

.formGroup input {
  padding: 10px;
  margin: 5px 0px;
  width: 100%;
  background-color: var(--background-dark);
  border: 2px solid transparent;
  outline: none;
  transition: all 0.4s;
}

.formGroup input:hover,
.formGroup input:focus {
  border: 2px solid var(--emphasis);
  background-color: #fff;
}

.formGroup .inputError {
  color: var(--error);
}

.btn {
  padding: 15px;
  margin: 10px 0px;
  border: 2px solid transparent;
  background-color: var(--emphasis);
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}

.btn:hover,
.btn:focus {
  background-color: white;
  color: var(--emphasis);
  border: 2px solid var(--emphasis);
}
